*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primaryColor: #aaac32;
$mainWhite: #fff;
$offWhite: #e0e0e0c2;
$mainBlack: #222;
$mainGrey: #ecececb2;
$darkGrey: #2c2c2cd5;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

/* globals */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: $mainBlack;
  background: $mainWhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: $darkGrey;
  font-weight: 900;
  padding: 1rem 2rem;
  background: $primaryColor;
}
.center-container {
  display: flex;
  align-items: center;
  margin: 0 5rem;
}
.section {
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .center-container {
    display: flex;
    align-items: center;
    margin: 0 15rem;
  }
}
/* end of globals */

/*NavBar*/
.header {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: $offWhite;
  z-index: 1;
}
.header__container {
  padding: 1.2rem 0;
}
.header__menu {
  display: none;
  flex-direction: column;
  align-items: center;
  // position: absolute;
  // top: 100%;
  // width: 100%;
}
.open {
  display: flex;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: auto;
}
.logo__img {
  display: block;
  height: 40px;
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.menu-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.menu-btn__icon {
  display: block;
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .menu__link:not(:last-child) {
    margin-right: 20px;
  }
  .menu-container {
    position: static;
    width: auto;
  }
}
/*end of NavBar*/

/*Hero*/
.default-hero,
.rooms-hero {
  min-height: 80vh;
  background: url('./img/default-hero.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms-hero {
  background: url('./img/rooms-hero.jpg') center/cover no-repeat;
  min-height: 60vh;
}
/*end of Hero*/

/*Banner*/
.banner {
  background-color: $darkGrey;
  padding: 5rem 14rem;
  color: $mainWhite;
  text-transform: capitalize;
  text-align: center;
}
.banner__title {
  text-align: center;
}
.banner__subtitle {
  margin-bottom: 20px;
}
.banner__title:after {
  content: '';
  height: 3px;
  width: 100px;
  display: block;
  background: $primaryColor;
  margin: 1.5rem auto 0;
}
/*end of Banner*/

/*Services*/
.services {
  background: $mainGrey;
}
.services__container {
  justify-content: space-around;
  flex-wrap: wrap;
}
.service {
  text-align: center;
  flex-basis: 80%;
  padding-bottom: 2rem;
}
.service__icon {
  color: $primaryColor;
  font-size: 3.5rem;
  margin-bottom: 0.3em;
}
.service__info {
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 767px) {
  .service {
    flex-basis: 46%;
  }
}
@media (min-width: 998px) {
  .service {
    flex-basis: 23%;
  }
}

/*end of Services*/

/*Title*/
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}
.section-title__text {
  text-transform: capitalize;
}
.section-title:after {
  content: '';
  height: 3px;
  width: 100px;
  display: block;
  background: $primaryColor;
  margin: 15px auto 0;
}
/*end of Title*/

/*FeaturedRooms*/
.featured-rooms__container {
  justify-content: center;
  flex-wrap: wrap;
}
.room {
  flex-basis: 350px;
  margin: auto;
}
.image-room {
  max-width: 100%;
  height: auto;
}

/*end of FeaturedRooms*/
