*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primaryColor: #ca9283;
$mainWhite: #fff;
$offWhite: #e0e0e0c2;
$mainBlack: #222;
$BlackOpacity: rgb(46, 46, 46);
$mainGrey: #a8a8a8d2;
$darkGrey: #2c2c2cc5;
$mainTransition: all 0.5s ease-out;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.5);

/* globals */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.4;
}
h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  line-height: 1;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.25;
}
h5 {
  font-size: 1.6rem;
  font-weight: bold;
}
h6 {
  font-size: 1.6rem;
  font-weight: bold;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: $mainBlack;
  padding: 1rem 2rem;
  border: 0.2rem solid $primaryColor;
  text-transform: capitalize;
  font-weight: 700;
  background: $primaryColor;
  transition: $mainTransition;
}
.btn-primary:hover {
  background: none;
  color: $primaryColor;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}
.section {
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .center-container {
    margin: 0 15rem;
  }
}
/* end of globals */

/*NavBar*/
.header {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 300ms ease-out;
  background-color: $BlackOpacity;
  z-index: -1;
}
.header.scrolled::before {
  height: 100%;
}
.header__container {
  padding: 4rem 0 1.2rem;
  transition: all 300ms ease;
}
.header.scrolled .header__container {
  padding: 1.2rem 0 1.2rem;
}
.header__menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: $BlackOpacity;
}
.open {
  display: flex;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.logo {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: $mainWhite;
  border: 0.2rem solid $mainWhite;
}
.logo__img {
  display: block;
  height: 40px;
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: $mainWhite;
  font-weight: 600;
}
.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.menu-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: $mainWhite;
}
.menu-btn__icon {
  display: block;
  font-size: 3.5rem;
}
.color-white {
  background: $mainWhite;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .menu__link:not(:last-child) {
    margin-right: 20px;
  }
  .menu-container {
    position: static;
    width: auto;
  }
  .header__menu {
    background: none;
  }
}
/*end of NavBar*/

/*Hero*/
.default-hero,
.rooms-hero {
  min-height: 80vh;
  background: url('./img/default-hero.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.default-hero::after,
.rooms-hero::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
}
.rooms-hero {
  background: url('./img/rooms-hero.jpg') center/cover no-repeat;
  min-height: 60vh;
}
/*end of Hero*/

/*Banner*/
.banner {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 3rem;
  color: $mainWhite;
  text-transform: capitalize;
  text-align: center;
  z-index: 1;
  border: 0.2rem solid white;
}
.banner__title {
  text-align: center;
}
.banner__subtitle {
  margin-bottom: 20px;
}
.banner__title::after {
  content: '';
  height: 3px;
  width: 100px;
  display: block;
  background: $primaryColor;
  margin: 1.5rem auto 0;
}
@media (min-width: 998px) {
  .banner {
    padding: 5rem 14rem;
  }
}
/*end of Banner*/

/*Services*/
.services {
  background: $mainGrey;
}
.services__container {
  justify-content: space-around;
  flex-wrap: wrap;
}
.service {
  text-align: center;
  flex-basis: 80%;
  padding-bottom: 2rem;
}
.service__icon {
  color: $primaryColor;
  font-size: 3.5rem;
  margin-bottom: 0.3em;
}
.service__info {
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 767px) {
  .service {
    flex-basis: 46%;
  }
}
@media (min-width: 998px) {
  .service {
    flex-basis: 23%;
  }
}

/*end of Services*/

/*Title*/
.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.section-title__text {
  text-transform: capitalize;
}
.section-title:after {
  content: '';
  height: 3px;
  width: 100px;
  display: block;
  background: $primaryColor;
  margin: 0.2rem auto 0;
}
/*end of Title*/

/*FeaturedRooms*/
.featured-rooms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -1rem;
}
.room {
  position: relative;
  margin: 1rem;
  flex-basis: 350px;
}
.image-room {
  display: block;
  max-width: 100%;
  height: auto;
}
.price {
  position: absolute;
  top: 0;
  left: 0;
  color: $mainWhite;
  background: $darkGrey;
  text-align: center;
  padding: 0.6rem 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.price__title {
  margin-bottom: 0;
}
.price__text {
  font-size: 1rem;
}
.room__link {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-115%, -50%);
}
.image-container {
  box-shadow: $darkShadow;
}
.image-container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  transition: $mainTransition;
}
.room:hover .image-container::before {
  background: rgba(0, 0, 0, 0.8);
}
.room:hover .room__link {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading__img {
  width: 10rem;
  margin-bottom: 1.5rem;
}
/*end of FeaturedRooms*/

/*Footer*/
.footer {
  display: flex;
  padding: 2rem 0;
  background: $BlackOpacity;
}
.footer__logo {
  margin: auto;
}
/*end of Footer*/

/*Rooms*/
.rooms-section {
  flex-grow: 1;
}
/*end of Rooms*/

/*SinglePage*/
.error-info,
.room-info {
  flex-grow: 1;
  flex-direction: column;
  padding: 5rem 0;
}
.room-info__images {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: -1rem;
}
.room-info__image-container {
  flex-basis: 350px;
  margin: 1rem;
}
.room-info__img {
  display: block;
  max-width: 100%;
}
.room-info__title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}
.room-info__title--left {
  text-align: left;
}
.description-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.description__text {
  text-align: justify;
}
.info__item {
  height: 2em;
  display: flex;
  align-items: center;
}

@media (min-width: 932px) {
  .description {
    flex: 5;
  }
  .info {
    margin-right: 1rem;
    flex: 2;
  }
  .description-container {
    padding: 2rem 0;
    flex-direction: row;
  }
}

/*end of SinglePage*/

// .full-size-bg {
//   position: absolute;
//   display: flex;
//   padding: 0;
//   top: 50%;
//   left: 50%;
//   height: 0;
//   background: rgba(0, 0, 0, 0.815);
//   z-index: 999;
//   transition: $mainTransition;
// }
// .full-size-bg.opened {
//   height: 100vh;
//   width: 100%;
//   padding: 3rem 5rem;
//   transform: translate(-50%, -50%);
// }
// .full-size-pic {
//   width: 0;
//   margin: auto;
// }
// .full-size-bg.opened .full-size-pic {
//   width: 100%;
// }

.full-size-bg {
  position: absolute;
  display: flex;
  padding: 3rem 5rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 999;
  transition: $mainTransition;
  opacity: 0;
}
.full-size-bg.opened {
  opacity: 1;
}
.full-size-pic {
  width: 100%;
  margin: auto;
}
